* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto;
}

nav {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:rgb(219, 187, 119);
  font-size: 16px;
}

.nav-left {
  display: flex;
}

.nav-left p {
  margin-left: 16px;
}


ul {
  display: flex;
  justify-content: space-around; 
  align-items: center;
}

ul li {
  list-style-type: none;
  margin: 16px;
}

ul li:last-child {
  margin-right: 24px;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

a:hover, a:active {
  text-decoration: underline;
}

nav img {
  margin-left: 16px;
}

header {
  background-color: rgb(144, 196, 131);
  height: calc(100vh - 80px - 80px - 100px);
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header img {
  width: 300px;
  border-radius: 50%;
}

header h1 {
  font-size: 36px;
}

main {
  background-color: antiquewhite;
  height: 100px;
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

main h2 {
  font-size: 16px;
}

footer {
  background-color: rgb(219, 187, 119);
  height: 80px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

footer p:last-child {
  margin-right: 24px;
}

footer p {
  margin: 16px;
}
